*{
    font-family:'rocknroll one';
}
body{
    background-color: #C7AC92;
    min-height: 1080px;
    height: 100%;
    width: 100%
}
.hl{
    background-color: yellow;
}
.result {
    background-image: linear-gradient(#DCF2B0, #C2EABD);
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.title {
    padding-top:60px;
    color: white;
    text-align:center;
}
#searchbar {
    margin-bottom: 20px;
    margin-top: 20px
}
