body{
    background-color: #427AA1;
    min-height: 1080px;
    height: 100%;
    width: 100%
}
.hl{
    background-color: yellow;
}
.result {
    background-image: linear-gradient(#DBCFB0, #BFC8AD);
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.title {
    padding-top:60px;
    font-family: 'Montserrat';
    color: white;
    font-weight: 600
}
#searchbar {
    margin-bottom: 20px;
    margin-top: 20px
}
